@layer base {
    @font-face {
        font-family: 'jua';
        src: url('../fonts/jua.otf') format('opentype');
    }
    @font-face {
        font-family: 'nanum';
        src: url('../fonts/gothic.otf') format('opentype');
    }
}
@tailwind base;
@tailwind components;
@tailwind utilities;


.layout {
    @apply lg:max-w-screen-lg md:max-w-screen-md sm:max-w-screen-sm max-w-screen-xs w-full;
}