@import '~prismjs/themes/prism-coy.css';

@layer base {
  @font-face {
    font-family: 'jua';
    src: url('../fonts/jua.otf') format('opentype');
  }
  @font-face {
    font-family: 'nanum';
    src: url('../fonts/gothic.otf') format('opentype');
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;


.layout {
  @apply lg:max-w-screen-lg md:max-w-screen-md sm:max-w-screen-sm max-w-screen-xs w-full;
}

.non-insurance__table-body {

}

.non-insurance__table-body > tr {
  @apply h-16 border border-gray-400;
}

.non-insurance__table-body > tr > th {
  @apply border border-gray-400;
}

.non-insurance__table-body > tr > td {
  @apply border border-gray-400 text-center;
}

.list-style {
  @apply p-2 border-t border-gray-300 first:border-0;
}

.adm-step {
  @apply flex items-center justify-center flex-col border-2 border-gray-300 border-dashed rounded w-full md:aspect-1 sm:aspect-2 aspect-3 relative md:text-2xl text-xl text-gray-700 text-center font-jua;

}

.adm-step .number {
  @apply absolute mx-auto -top-4 w-8 aspect-1 bg-lime-700 text-white text-center rounded-full text-sm flex items-center justify-center;
}


.markdown {
  h1,
  h2 {
    @apply text-2xl;
    @apply my-6;
  }

  h3,
  h4,
  h5,
  h6 {
    @apply text-xl;
    @apply my-3;
  }

  a {
    @apply text-green-400;
    @apply underline;
    @apply transition-colors;
    @apply duration-200;

    &:hover {
      @apply text-green-200;
    }
  }

  p {
    @apply mb-6;
  }

  /* Lists */
  ul,
  ol {
    @apply mb-4;
    @apply ml-8;
  }

  li > p,
  li > ul,
  li > ol {
    @apply mb-0;
  }

  ol {
    @apply list-decimal;
  }

  ul {
    @apply list-disc;
  }

  /* Blockquotes */
  blockquote {
    @apply p-6;
    @apply -mx-6;
    @apply mb-4;
    @apply bg-gray-900;

    p {
      @apply mb-0;
    }
  }

  pre {
    @apply p-6 border border-gray-300 rounded;
  }
}

.header-menu__popup {
  &::after {
    content: "";
    @apply bg-lime-300/70 w-full h-2 bottom-0 absolute z-10 left-0;
    transform: var(--after-x);
    opacity: var(--after-opacity);
    transition-duration: 0.3s;
  }
}