@layer base {
    @font-face {
        font-family: 'jua';
        src: url('../fonts/jua.otf') format('opentype');
    }
    @font-face {
        font-family: 'nanum';
        src: url('../fonts/gothic.otf') format('opentype');
    }
}
@tailwind base;
@tailwind components;
@tailwind utilities;


.layout {
    @apply lg:max-w-screen-lg md:max-w-screen-md sm:max-w-screen-sm max-w-screen-xs w-full;
}

.non-insurance__table-body {

}

.non-insurance__table-body > tr {
    @apply h-16 border border-gray-400;
}

.non-insurance__table-body > tr > th {
    @apply border border-gray-400;
}
.non-insurance__table-body > tr > td {
    @apply border border-gray-400 text-center;
}